/* img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  display: flex;

  align-items: center;
  justify-content: center;
}
 */

 .card-body{
  /* width: 300px; */
  /* background: white; */
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}
.homepg:hover {
  background: lightgray;
  opacity: 1;
  transition-duration: 1s;
}

.flex-child-element {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  white-space: nowrap;

}
